
.user-grid-card {
  color: #fff;
  border:  2px solid black;
}
.user-grid-card__name {
  font-size: 16px;
  font-weight: bold;
}
.user-grid-card__age {
  font-size: 12px;
  font-style: italic;
}
.user-grid-card__category{
  font-size: 12px;
  font-weight: normal;
}
.user-grid-card--priority-1 {
  background-color: darkorange;
}

.user-grid-card--priority-2 {
  background-color: green;
}

.user-grid-card--priority-3 {
  background-color: blue;
}

.user-grid-card--priority-4 {
  background-color: purple;
}
