
.user-grid__card {
  color: #fff;
}
.user-grid__card--priority-1 {
  background-color: darkorange;
}

.user-grid__card--priority-2 {
  background-color: green;
}

.user-grid__card--priority-3 {
  background-color: blue;
}

.user-grid__card--priority-4 {
  background-color: purple;
}
